---
import data from "../data/data.json";
import Card from "./components/card/index.astro";
import Layout from "./components/layout/index.astro";
import NavigationMenu from "./components/menu/index.astro";
import Section from "./components/section/index.astro";

const menuItems = [
  ...data.sections.map((section, index) => ({
    title: section.title,
    index: section.title,
    href: `#${section.title}`,
  })),
];

const sectionsData = data.sections.map((section) => ({
  title: section.title,
  description: section.description,
  image: section.image,
  subSections: section.subSections,
}));
---

<Layout title="My Awesome Page">
  <NavigationMenu
    menuItems={menuItems}
    platformLink="https://laundryservice1-3a280.web.app/"
  />

  {
    sectionsData.map((e) => (
      <Section id={e.title} title={e.title}>
        <Card title={e.title} description={e.description} image={e.image} />
        {e.subSections?.map((subSection) => (
          <Card
            title={subSection.title}
            description={subSection.description}
            image={subSection.image}
          />
        ))}
      </Section>
    ))
  }
</Layout>
